# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
Include/
lib/
lib64/
parts/
sdist/
var/
wheels/
Scripts/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pyvenv.cfg

.vscode/
